[Unit]
Description=Robot Sonar Service
After=redis-server.service

[Service]
Type=simple
WorkingDirectory=/robot/sonar
ExecStart=/robot/sonar/venv/bin/sonar

[Install]
WantedBy=multi-user.target