[Unit]
Description=Robot Sonar Service

[Service]
Type=simple
WorkingDirectory=/robot/systems/sonar
ExecStart=/usr/bin/python -m sonar

[Install]
WantedBy=multi-user.target